//Colours

//Individual
$incrementCount: 20;
$mainColours: (
    red: rgb(255,0,0),
    orange: rgb(255, 128, 0), 
    yellow: rgb(255, 255, 0), 
    lime: rgb(0,255,0), 
    green: rgb(0,128,0),
    cyan: rgb(0,255,255), 
    blue: rgb(0,0,255), 
    magenta: rgb(255,0,255), 
    purple: rgb(128,0,128), 
    pink: rgb(192,0,192), 
    brown: rgb(165,42,42), 
    grey: rgb(128,128,128)
);

@function darkenColour($colour, $range){
}

@each $colorKey, $colourValue in $mainColours{
    .bg {
        //PURE COLOURS
        &-#{$colorKey} {
            background-color: $colourValue;

            // Transition from white to main color
            @for $i from 1 through ($incrementCount / 2) {
                $range: (100% / ($incrementCount / 2)) * (($incrementCount / 2) - $i);
                &-#{$i} {
                    background-color: mix(white, $colourValue, $range);
                }
            }

            // Transition from main color to black
            @for $i from 1 through ($incrementCount / 2) {
                $range: (100% / ($incrementCount / 2)) * (($incrementCount / 2) - $i);
                &-#{$i+10} {
                    background-color: mix($colourValue, black, $range);
                }
            }
    }
}